name: Update Ferry Plots

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  update-plots:
    runs-on: ubuntu-latest

    services:
      selenium:
        image: selenium/standalone-firefox:latest
        options: >-
          --shm-size=2g
          --health-cmd="/opt/bin/check-grid.sh"
          --health-interval=15s
          --health-timeout=30s
          --health-retries=5
        ports:
          - 4444:4444
          - 7900:7900
        env:
          SE_NODE_MAX_SESSIONS: 1
          SE_NODE_OVERRIDE_MAX_SESSIONS: true
          SE_SESSION_REQUEST_TIMEOUT: 300
          SE_SESSION_RETRY_INTERVAL: 5

    steps:
    - name: Fix permissions
      run: |
        mkdir -p ${{ github.workspace }}/_temp/_runner_file_commands
        chmod -R 777 ${{ github.workspace }}/_temp

    - uses: actions/checkout@v2
      with:
        persist-credentials: true

    - name: Install Python and pip
      run: |
        sudo apt-get update
        sudo apt-get install -y python3 python3-pip

    - name: Install dependencies
      run: |
        python3 -m pip install --upgrade pip
        python3 -m pip install --no-cache-dir selenium==4.9.0 beautifulsoup4 pandas matplotlib requests tqdm pyarrow
        python3 -m pip list
    
    - name: Create directories
      run: |
        mkdir -p ${{ github.workspace }}/data/downloads
        mkdir -p ${{ github.workspace }}/data/ferry/downloads
        mkdir -p ${{ github.workspace }}/data/ferry/ferry_spaces
        chmod -R 777 ${{ github.workspace }}/data
    
    - name: Run ferry scripts
      env:
        DATA_DIR: ${{ github.workspace }}/data/ferry/downloads
      run: |
        python -u src/ferry_scrape.py
        python -u src/ferry_delays_db_update_cloud_version.py
        python -u src/ferry_merge_space_delays.py
        # python -u src/ferry_plot_model.py
    
    - name: Commit data changes
      run: |
        git config --global user.name "github-actions"
        git config --global user.email "github-actions@github.com"
        git add data/ docs/
        git commit -m "Update data and plots" || echo "No changes"
        git push https://${{ secrets.REPO_PAT }}@github.com/${{ github.repository }}.git